{{'sections.css' | asset_url | stylesheet_tag}}


<section>
    <div class="section-container background-color-yellow">
        <div class="section-title secondary-title-typography">
            {{ section.settings.section_title}}
        </div>
        <div class="section-contain-box-wrapper">  
            {% for block in section.blocks %}
                <div class="content-box word-wrap">
                        <div class="section-content-title transform-upper">
                            {{block.settings.title}}
                        </div> 
                        <div class="section-content-desc">
                           {{block.settings.description}}
                        </div>
                </div>
            {% endfor %}

          </div>
    </div>    
</section>


{%schema%}
{
    "name": "three-sections",
    "tag": "section",
    "class": "section",
    "blocks": [
    {
      "type": "content-box",
      "name": "column details",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Clinically Proven"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "visible results on skin, hair and nails."
        }
      ]
    }
  ],

    "settings": [
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Section title",
      "default": "The UK's #1 Collagen brand..."
    }
    ],

    "presets": [
      {
           "name": "Title Desc columns",
           "category": "text",
           "blocks": [
                {
                    "type": "content-box"
                },
                {
                    "type": "content-box"
                },
                {
                    "type": "content-box"
                }

           ] 
        }
    ]
}

{%endschema%}