* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box {
    border: 1px solid #000;
    width: 200px;
    height: 240px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.box .number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.box .text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 400;
}

.box:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    width: 30px;
    height: 1px;
    background-color: #000;
}

.box:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 30px;
    height: 1px;
    background-color: #000;
}

.button-margin{
    margin-top: 20px;
    margin-bottom: 10px;
}


#shopify-section--template--23514582122831__featured-product {
   display: none;
    
}

